In [41]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import pandas_datareader as web
import datetime as dt 
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.layers import Dense, Dropout, LSTM
from tensorflow.keras.models import Sequential

In [33]:
crypto_currency = 'BTC'
against_currency = 'USD'

start = dt.datetime(2016,1,1)
end = dt.datetime.now()

In [34]:
data = web.DataReader(f'{crypto_currency}-{against_currency}', 'yahoo', start, end)
data.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-01-01,436.246002,427.515015,430.721008,434.334015,36278900,434.334015
2016-01-02,436.062012,431.869995,434.622009,433.437988,30096600,433.437988
2016-01-03,433.743011,424.705994,433.578003,430.010986,39633800,430.010986
2016-01-04,434.516998,429.084015,430.061005,433.091003,38477500,433.091003
2016-01-05,434.182007,429.675995,433.069000,431.959991,34522600,431.959991

In [35]:
data.describe()

,High,Low,Open,Close,Volume,Adj Close
count,2329.000000,2329.000000,2329.000000,2329.000000,2.329000e+03,2329.000000
mean,14989.720507,14180.681517,14606.218644,14617.002668,1.823143e+10,14617.002668
std,17708.990692,16742.738288,17261.114388,17257.512168,2.057145e+10,17257.512168
min,374.950012,354.914001,365.072998,364.330994,2.851400e+07,364.330994
25%,3275.377930,2874.830078,2953.219971,3154.949951,1.489450e+09,3154.949951
50%,8117.925781,7679.418945,7890.520020,7902.089844,1.275080e+10,7902.089844
75%,15603.200195,13952.400391,14833.753906,14973.299805,2.989318e+10,14973.299805
max,68789.625000,66382.062500,67549.734375,67566.828125,3.509679e+11,67566.828125

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2329 entries, 2016-01-01 to 2022-05-17
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       2329 non-null   float64
 1   Low        2329 non-null   float64
 2   Open       2329 non-null   float64
 3   Close      2329 non-null   float64
 4   Volume     2329 non-null   int64
 5   Adj Close  2329 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 127.4 KB

### Prepare Data

In [37]:
scaler = MinMaxScaler(feature_range=(0,1))
scaled_data = scaler.fit_transform(data['Close'].values.reshape(-1,1))

In [40]:

prediction_days = 60

x_train, y_train =[], []

for x in range(prediction_days, len(scaled_data)):
    x_train.append(scaled_data[x-prediction_days: x, 0])
    y_train.append(scaled_data[x, 0])

x_train, y_train = np.array(x_train), np.array(y_train)
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))

Create Neural Network

In [ ]:
model = Sequential() #Create layers

model.add(LSTM(unit=50, return_sequences=True, input_shape(x_train,shape[1],1)))
model.add(Dropout(0.2)) # prevent overfiting
model.add(LSTM(unit=50, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(unit=50))
model.add(Dropout(0.2))
model.add(Dense(units=1)) #one number to indicate the price

model.compile(optimize='adam', loss='mean_squared_error')
model.fit(x_train, y_train, epochs=25, batch_size=32)

Creating the testing module

In [44]:
test_start = dt.datetime(2020,1,1)
test_end = dt.datetime.now()

test_data = web.DataReader(f'{crypto_currency}-{against_currency}', 'yahoo', test_start, test_end)
actual_prices = test_data['Close'].values

total_dataset = pd.concat((data['Close'], test_data['Close']), axis=0)

model_input = total_dataset[len(total_dataset)-len(test_data)-prediction_days:].values
model_input = model_input.reshape(-1,1)
model_input = scaler.fit_transform(model_input)

x_test = []

for z in range(prediction_days, len(model_input)):
    x_test.append(model_input[x-prediction_days:x, 0])

x_test = np.array(x_test)
x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], 1))

prediction_prices = model.predict(x_text)
prediction_prices = scaler.inverse_transform(prediction_prices)

plt.plot(actual_prices, color='black', label='Actual Prices')
plt.plot(prediction_price, color='green', label='Predicted Prices')
plt.title('f{cryto_currency} price prediction')
plt.xlabel('Time')
plt.ylabel('Price')
plt.legend(loc='upper left')
plt.show()

NameError: name 'model' is not defined